/*
 * SASS main code for Pasadena Bridge Club w3css version
 */
/*
 * SASS main code for Pasadena Bridge Club w3css version
 */
body {
  font-family: open-sans, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: modesto-text, serif;
  font-weight: 500;
  color: #106632;
  margin: 5px 0;
}

.w3-panel {
  margin: 0;
  padding: 0;
}

/*
 * Only used for the daily welcome block
 */
#block-dailywelcome {
  width: auto;
  padding: 8px;
  margin: 8px;
  border-style: solid;
  border-width: 5px;
  border-color: #106632;
}
#block-dailywelcome div {
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#block-dailywelcome div > ul {
  padding-left: 4em;
}
#block-dailywelcome div > p {
  padding-left: 2em;
}
#block-dailywelcome div > figure {
  width: 50%;
  float: right;
  margin-top: 0;
  margin-right: 0;
}
#block-dailywelcome div > figure > img {
  width: 100%;
}
#block-dailywelcome div > figure > figcaption {
  font-size: 80%;
  font-style: italic;
}
#block-dailywelcome div a:link {
  text-decoration: underline;
  color: blue;
}
#block-dailywelcome div a:visited {
  text-decoration: underline;
  color: purple;
}
#block-dailywelcome div a:active {
  text-decoration: underline;
  color: red;
}
#block-dailywelcome div a:hover {
  text-decoration: underline;
  color: darkgrey;
}

/* special blocks for the PBC front-page header */
div.header-inner > div {
  float: none;
}

.pbc-logo {
  width: 100%;
  padding: 8px;
}

.site-slogan {
  text-transform: none;
  font-size: 1.7em !important;
  color: #106632;
  padding-left: 8px;
}

#header {
  background-color: white;
}

@media only screen and (min-width: 992px) {
  div.pbc-header {
    min-width: 400px;
  }
}
@media only screen and (max-width: 991px) {
  div.pbc-header {
    width: 50%;
  }
}
div.callout-container {
  float: right;
}

.top-callout {
  text-align: center;
  border: 3px solid #1e7ebe;
  margin: 8px;
  padding: 8px;
  background-color: #cbf7dc;
}
.top-callout div.w3-section {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.top-callout p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.top-callout h1 {
  line-height: 1.1;
}

/* end of special header blocks */
/* Theme the page title for /node pages */
#page-title {
  background-color: inherit;
}

h1.page-title {
  padding: 16px 0;
}

/* Manage the main navigation row */
.main-navigation-wrapper, .close-nav, .mobile-nav {
  background-color: #1e7ebe;
}

#main-navigation-h .ul-parent li > a {
  padding: 5px 10px;
}

i.left-sidebar-nav {
  line-height: 18px !important;
}
i.left-sidebar-nav:before {
  content: "More";
}

i.left-sidebar-nav-displayed {
  line-height: 18px !important;
}
i.left-sidebar-nav-displayed:before {
  content: "Less";
}

/* Formatting for main content welcome block, front page only */
div.field__item {
  padding: 0;
}

#block-dailywelcome {
  background-color: #f4f4f4;
}

#block-frontpagegreeting {
  padding: 5px;
  margin: 0;
}
#block-frontpagegreeting div {
  padding: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#block-frontpagegreeting div > ul {
  padding-left: 4em;
}
#block-frontpagegreeting div > p {
  padding-left: 2em;
}
#block-frontpagegreeting div > figure {
  width: 50%;
  float: right;
  margin-top: 0;
  margin-right: 0;
}
#block-frontpagegreeting div > figure > img {
  width: 100%;
}
#block-frontpagegreeting div > figure > figcaption {
  font-size: 80%;
  font-style: italic;
}
#block-frontpagegreeting div a:link {
  text-decoration: underline;
  color: blue;
}
#block-frontpagegreeting div a:visited {
  text-decoration: underline;
  color: purple;
}
#block-frontpagegreeting div a:active {
  text-decoration: underline;
  color: red;
}
#block-frontpagegreeting div a:hover {
  text-decoration: underline;
  color: darkgrey;
}

/* 
 * Used for text blocks contained in contact forms and possibly other places
 * I'm going to be sadly specific here until I can generalize
 */
#block-contactforminformation p {
  margin-left: 16px;
  padding-left: 16px;
}

/* Formatting for the column of "plugs" aka the left-sidebar for the front page. */
.main-container-inner .first-sidebar, .main-container-inner .w3css-content {
  margin-bottom: 0;
  margin-top: 0;
}

div#left-sidebar > div.w3-sidebar-first {
  padding: 12px 0 !important;
}
div#left-sidebar > div.w3-sidebar-first .plug-title {
  margin: 0;
}
div#left-sidebar > div.w3-sidebar-first .plug-title:before {
  content: "";
  display: table;
  clear: both;
}
div#left-sidebar > div.w3-sidebar-first .plug-body {
  margin: 0;
}
div#left-sidebar > div.w3-sidebar-first .plug-body:before {
  content: "";
  display: table;
  clear: both;
}
div#left-sidebar > div.w3-sidebar-first .plug-body p {
  margin: 0;
}
div#left-sidebar article.plug-article {
  background-color: #e1f0fa;
  padding: 8px;
  margin: 5px 0;
  border: #1e7ebe solid 3px;
}

@media only screen and (max-width: 600px) {
  #left-sidebar {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .plug-container {
    padding: 0 8px;
  }
}
@media only screen and (min-width: 991px) {
  .plug-container {
    padding: 0;
  }
}
/* Footer styles */
#footer-menu {
  background-color: #1e7ebe;
  font-weight: bold;
  color: white;
}

.copyright-inner, .ul-parent-account, .ul-parent-footer {
  font-family: open-sans, sans-serif;
}

/* Theming for course blocks on /available_courses */
.node--type-bridge-course {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.node--type-bridge-course div.field {
  margin: 5px 0 0 0 !important;
}
.node--type-bridge-course div.field .field__label {
  font-weight: bold;
}
.node--type-bridge-course div.field div.field__item p {
  margin: 5px 0 0 1em !important;
}
.node--type-bridge-course div.field div.field__item li {
  padding: 0;
}
.node--type-bridge-course div.field--name-field-special-notes .field__label {
  font-style: italic;
}
.node--type-bridge-course div.field--name-field-course-number {
  display: none;
}

li.available-courses-list-item {
  border-color: #106632;
  border-style: solid;
  border-width: 2px !important;
  margin: 8px 0 8px 0;
  padding: 8px;
  line-height: 1;
}

div.available-courses-list li:last-child {
  border-color: #106632;
  border-style: solid;
  border-width: 2px !important;
  margin: 8px 0 8px 0;
  padding: 8px;
}

span.views-field-field-number-of-sessions {
  margin-right: 3em;
}

/*# sourceMappingURL=style.css.map */
